/* page2 */

position: relative;
width: 1920px;
height: 1850px;

background: #131313;


/* Rectangle 122 */

box-sizing: border-box;

position: absolute;
width: 1384px;
height: 1527px;
left: 268px;
top: 186px;

background: rgba(53, 53, 53, 0.5);
border: 3px solid rgba(69, 67, 67, 0.3);
border-radius: 30px;


/* Union */

position: absolute;
visibility: hidden;
width: 6547.5px;
height: 2912.98px;
left: -1120.05px;
top: -1067.23px;

background: rgba(255, 255, 255, 0.07);


/* Union */

position: absolute;
width: 6547.5px;
height: 2912.98px;
left: -1120.05px;
top: -1067.23px;

background: #FFFFFF;


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -705.95px;
top: -152.88px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1451.67px;
top: 546.06px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -892.82px;
top: -633.88px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1264.8px;
top: 65.06px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -1024.5px;
top: -1097px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1133.11px;
top: -398.06px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -571.41px;
top: 311.17px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3157.05px;
top: -166.88px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1038.5px;
top: -854px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 2970.18px;
top: -647.88px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 2838.5px;
top: -1111px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3291.59px;
top: 297.17px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3424.23px;
top: 760.6px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3424.23px;
top: 760.6px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* Union */

position: absolute;
width: 6549.98px;
height: 2835.95px;
left: -608.27px;
top: 774.6px;

background: #FFFFFF;


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1589.06px;
top: 1011.03px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -438.77px;
top: 774.6px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -438.77px;
top: 774.6px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1718.84px;
top: 1473.53px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -307.09px;
top: 1237.72px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -307.09px;
top: 1237.72px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -171.59px;
top: 1702.07px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -171.59px;
top: 1702.07px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -39.9px;
top: 2165.2px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: -39.9px;
top: 2165.2px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1986.02px;
top: 2401.01px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 1850.53px;
top: 1936.66px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3555.91px;
top: 1223.72px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3555.91px;
top: 1223.72px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3691.41px;
top: 1688.07px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3691.41px;
top: 1688.07px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3823.1px;
top: 2151.2px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* KIPOHA */

position: absolute;
width: 2227px;
height: 550px;
left: 3823.1px;
top: 2151.2px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 550px;
/* identical to box height */

border: 15px solid #FFFFFF;
transform: rotate(17.95deg);


/* sidebar */

position: absolute;
visibility: hidden;
width: 71px;
height: 218px;
left: 851px;
top: 173px;

transform: rotate(-90deg);


/* Projects */

position: absolute;
width: 210px;
height: 55px;
left: 855px;
top: 233px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 55px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 145 */

box-sizing: border-box;

position: absolute;
width: 1167px;
height: 364px;
left: 376px;
top: 413px;

background: #302E2E;
border: 3px solid #352B2B;
border-radius: 50px;


/* My first public bot for fun and meme! */

position: absolute;
width: 503px;
height: 35px;
left: 740px;
top: 541px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* Frame 9 1 */

position: absolute;
width: 276px;
height: 276px;
left: 420px;
top: 457px;

background: url(Frame 9.png);
border-radius: 30px;


/* Menero */

position: absolute;
width: 234px;
height: 66px;
left: 740px;
top: 457px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 66px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 147 */

box-sizing: border-box;

position: absolute;
width: 1167px;
height: 364px;
left: 376px;
top: 1261px;

background: #302E2E;
border: 3px solid #352B2B;
border-radius: 50px;


/* My robo-copy bot. */

position: absolute;
width: 258px;
height: 35px;
left: 740px;
top: 1389px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* 3c83b4b9d41d5168117e6d2cb49513ec */

position: absolute;
width: 276px;
height: 276px;
left: 420px;
top: 1305px;

background: url(3c83b4b9d41d5168117e6d2cb49513ec.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 30px;


/* Kipoha Copy */

position: absolute;
width: 402px;
height: 66px;
left: 740px;
top: 1305px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 66px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 146 */

box-sizing: border-box;

position: absolute;
width: 1167px;
height: 364px;
left: 376px;
top: 837px;

background: #302E2E;
border: 3px solid #352B2B;
border-radius: 50px;


/* A support moderation bot for Menero Support community. */

position: absolute;
width: 647px;
height: 70px;
left: 532px;
top: 965px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
text-align: right;

color: #FFFFFF;



/* 69a5e76bf7afeba48c55c943b469957e */

position: absolute;
width: 276px;
height: 276px;
left: 1223px;
top: 881px;

background: url(69a5e76bf7afeba48c55c943b469957e.png);
border-radius: 30px;


/* Henry */

position: absolute;
width: 192px;
height: 66px;
left: 987px;
top: 881px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 66px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 135 */

box-sizing: border-box;

position: absolute;
width: 237px;
height: 53px;
left: 723px;
top: 694px;

background: rgba(40, 40, 40, 0.7);
border: 3px solid rgba(89, 89, 89, 0.3);
border-radius: 30px;


/* Discord */

position: absolute;
width: 125px;
height: 25px;
left: 806px;
top: 711px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #6F7979;



/* Rectangle 148 */

box-sizing: border-box;

position: absolute;
width: 237px;
height: 53px;
left: 983px;
top: 694px;

background: rgba(40, 40, 40, 0.7);
border: 3px solid rgba(89, 89, 89, 0.3);
border-radius: 30px;


/* SIte */

position: absolute;
width: 125px;
height: 25px;
left: 1081px;
top: 711px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #6F7979;



/* Rectangle 149 */

box-sizing: border-box;

position: absolute;
width: 237px;
height: 53px;
left: 1250px;
top: 694px;

background: rgba(40, 40, 40, 0.7);
border: 3px solid rgba(89, 89, 89, 0.3);
border-radius: 30px;


/* Boticord */

position: absolute;
width: 125px;
height: 25px;
left: 1329px;
top: 711px;

font-family: 'Handil Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #6F7979;



/* Component 1 */

position: absolute;
width: 218px;
height: 71px;
left: 1434px;
top: 89px;



/* Rectangle 123 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 67.43%;
top: 100%;
bottom: -307.04%;

background: rgba(44, 44, 44, 0.5);
border: 3px solid rgba(69, 67, 67, 0.3);
border-radius: 30px;
transform: rotate(-90deg);


/* Union */

position: absolute;
visibility: hidden;
left: 68.81%;
right: 12.39%;
top: 78.87%;
bottom: -36.62%;

background: #D9D9D9;
transform: rotate(-90deg);


/* Rectangle 129 */

position: absolute;
left: 68.81%;
right: 21.56%;
top: 50.7%;
bottom: 19.72%;

background: #D9D9D9;
border-radius: 2px;
transform: rotate(-90deg);


/* Rectangle 130 */

position: absolute;
left: 77.98%;
right: 12.39%;
top: 78.87%;
bottom: -8.45%;

background: #D9D9D9;
border-radius: 2px;
transform: rotate(-90deg);


/* work-15 1 */

position: absolute;
left: 40.37%;
right: 40.83%;
top: 21.13%;
bottom: 21.13%;

background: url(work-15.png);


/* Rectangle 128 */

position: absolute;
left: 40.83%;
right: 40.37%;
top: 78.87%;
bottom: -36.62%;

background: #7ED4EE;
transform: rotate(-90deg);


/* 1077114 1 */

position: absolute;
left: 12.84%;
right: 68.35%;
top: 21.13%;
bottom: 21.13%;

background: url(1077114.png);


/* Rectangle 127 */

position: absolute;
left: 12.84%;
right: 68.35%;
top: 78.87%;
bottom: -36.62%;

background: #D9D9D9;
transform: rotate(-90deg);


/* layers-icon-2045x2048-m7h5gig6 1 */

position: absolute;
left: 68.35%;
right: 12.84%;
top: 21.13%;
bottom: 21.04%;

background: url(layers-icon-2045x2048-m7h5gig6.png);


/* Rectangle 151 */

position: absolute;
left: 68.81%;
right: 12.39%;
top: 21.13%;
bottom: 21.13%;

background: #D9D9D9;


/* discord-logo-discord-icon-transparent-free-png 3 */

position: absolute;
width: 41px;
height: 40px;
left: 731px;
top: 700px;

background: url(discord-logo-discord-icon-transparent-free-png.png);


/* Rectangle 138 */

position: absolute;
width: 36px;
height: 52px;
left: 740px;
top: 706px;

background: #C2C2C2;


/* discord-logo-discord-icon-transparent-free-png 4 */

position: absolute;
width: 41px;
height: 40px;
left: 1260px;
top: 700px;

background: url(discord-logo-discord-icon-transparent-free-png.png);


/* Rectangle 150 */

position: absolute;
width: 36px;
height: 52px;
left: 1269px;
top: 706px;

background: #C2C2C2;


/* web-icon-web-sign-free-png-1 1 */

position: absolute;
width: 32px;
height: 32px;
left: 993px;
top: 705px;

background: url(web-icon-web-sign-free-png-1.png);


/* Rectangle 110 */

position: absolute;
width: 39px;
height: 57px;
left: 993px;
top: 692px;

background: #C2C2C2;
